@page "/bookings"

@inject IJSRuntime JS
@inject Services.PageNavigationService PageNavService
@inject Services.UsersService UsersService
@inject Services.BookingsService BookingsService

<AuthorizeView Roles="Administrator" Context="usersPageContext">
    <Authorized>
        <div class="row layout-top-spacing">

            <div class="row layout-top-spacing" />

            <div id="flAutoSizing" class="col-lg-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Bokningar</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">

                        @*<div class="form-group mb-4">
                        <label for="exampleFormControlSelect1">Användare</label>
                        <select class="form-select" id="exampleFormControlSelect1" @onchange=@OnChangeUser>
                        <option value="0">Välj Användare</option>
                        @if (this._users != null && this._users.Count > 0)
                        {
                        foreach (var user in this._users)
                        {
                        <option value="@user.Id">@(user.FirstName + " " + user.LastName)</option>
                        }
                        }
                        </select>
                        </div>*@

                        <div class="col-sm-12">
                            <div class="d-grid gap-2 col-12 mx-auto">
                                <button class="btn btn-dark mb-4" @onclick="this.AddNewBooking">Lägg till Bokning</button>
                                <button class="btn btn-dark mb-4" @onclick="this.GetBookings">Visa Senaste Bokningar</button>
                                @if (this._showLatestBookings && this._bookings != null && this._bookings.Count > 0)
                                {
                                    <button class="btn btn-dark mb-4" @onclick="this.Reset">Återställ</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row layout-top-spacing" />

            @if (this._showLatestBookings && this._bookings != null && this._bookings.Count > 0)
            {
                <div id="tableSimple" class="col-lg-12 col-12 layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Bokningar</h4>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area">

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Namn</th>
                                            <th scope="col">Datum</th>
                                            <th class="text-center" scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var booking in this._bookings)
                                        {
                                            <tr>
                                                <td>@(this.GetUser(booking.UserId)?.FirstName + " " + this.GetUser(booking.UserId)?.LastName)</td>
                                                <td>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                                    <span class="table-inner-text">@(booking.DateStart?.Date.Day + "/" + booking.DateStart?.Month + " " + booking.TimeStart + "-" + booking.TimeEnd)</span>
                                                </td>
                                                <td class="text-center">DELETE</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            }

            @if (this._selectedSchedule != null)
            {
                <div id="flAutoSizing" class="col-lg-12 layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <center><h4>Ny Bokning</h4></center>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area">
                            <div class="row g-3">
                                <div class="form-group mb-4">
                                    <label for="exampleFormControlSelect1">Användare</label>
                                    <select class="form-select" id="exampleFormControlSelect1" @onchange=@OnChangeUser>
                                        <option value="0">Välj Användare</option>
                                        @if (this._users != null && this._users.Count > 0)
                                        {
                                            foreach (var user in this._users)
                                            {
                                                <option value="@user.Id">@(user.FirstName + " " + user.LastName)</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <label for="usernameInput">Datum</label>
                                    <InputDate @bind-Value="this._selectedSchedule.DateStart" />
                                </div>
                                <div class="col-sm-6">
                                    <label for="usernameInput">Starttid</label>
                                    <input id="usernameInput" type="text" class="form-control" placeholder="e.g 22:00" @bind-value="this._selectedSchedule.TimeStart" @bind-value:event="oninput">
                                </div>
                                <div class="col-sm-6">
                                    <label for="usernameInput">Sluttid</label>
                                    <input id="usernameInput" type="text" class="form-control" placeholder="e.g 03:45" @bind-value="this._selectedSchedule.TimeEnd" @bind-value:event="oninput">
                                </div>
                                <div class="form-group mb-4">
                                    <label for="exampleFormControlSelect1">Användare</label>
                                    <select class="form-select" id="exampleFormControlSelect1" @onchange="this.OnChangeJobType">
                                        <option value="0">Jobbtyp</option>
                                        <option value="Entrevärd">Entrevärd</option>
                                        <option value="Ordningsvakt">Ordningsvakt</option>
                                        <option value="Vaktchef">Vaktchef</option>
                                        <option value="Annat">Annat</option>
                                    </select>
                                </div>
                            </div>

                            <br /><br />

                            <div class="col-sm-12">
                                <div class="d-grid gap-2 col-12 mx-auto">
                                    <button class="btn btn-dark mb-4" @onclick="this.Save">Spara</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </Authorized>
    <NotAuthorized>
        <p>You cannot view this page.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<DataAccessLibrary.Models.User>? _users;
    private int _selectedUserId = 0;
    private DataAccessLibrary.Models.Schedule? _selectedSchedule;
    private List<DataAccessLibrary.Models.Schedule>? _bookings;
    private bool _showLatestBookings = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            this.PageNavService.UpdateActivePage("Bookings");

            this._users = await this.UsersService.GetUsers();
            this._bookings = await this.BookingsService.GetBookings();
            await JS.InvokeVoidAsync("OnScrollEvent");
            this.StateHasChanged();
        }
    }

    public async Task Save()
    {
        if (this._selectedSchedule == null) return;

        if (this._selectedSchedule.Id == 0)
        {
            //Add
        }
        else
        {
            //Save
        }
    }

    private void OnSelectUser(int id)
    {
        this._selectedUserId = id;
        this.StateHasChanged();
    }

    private void OnChangeUser(ChangeEventArgs e)
    {
        string inputValue = e?.Value?.ToString();
        if (int.TryParse(inputValue, out int id))
        {
            this.OnSelectUser(id);
        }
    }

    private void OnChangeJobType(ChangeEventArgs e)
    {
        string inputValue = e?.Value?.ToString();
        this._selectedSchedule.JobType = inputValue;
    }

    private void AddNewBooking()
    {
        this._selectedSchedule = new()
            {
                Id = 0
            };

        this.StateHasChanged();
    }

    private async Task GetBookings()
    {
        if (this._bookings == null || this._bookings.Count == 0)
            this._bookings = await this.BookingsService.GetBookings();

        this._showLatestBookings = true;
        this.StateHasChanged();
    }

    private async Task Reset()
    {
        this._showLatestBookings = false;
        this.StateHasChanged();
    }

    private async Task FlushBookings()
    {
        this._bookings = await this.BookingsService.GetBookings();
        this.StateHasChanged();
    }

    private DataAccessLibrary.Models.User? GetUser(int id)
    {
        return this._users?.Where(x => x.Id == id).FirstOrDefault();
    }
}
